@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to the Configit Cloud documentation portal</h2>
        <a href="/Account/Redoc">Redoc documentation.</a><br/>
        <a href="/docfx/index.html">Doc FX documentation.</a>
        <br/>
        <br/>
        <a href="http://example-configit-qa.azurewebsites.net/">THE debugger.</a>
    </div>
</div>
